.options_style {
  padding: 18px;
}
.verified_icon {
  margin-left: 10px;
}
.div_1 {
  margin: 10px 15px;
}
.h4_style {
  font-size: 15px;
  margin: 1px;
}
.h5_style {
  font-size: 10px;
  margin: 1px;
  font-weight: 400;
}
