.containerGrid{
        display: grid;
        grid-template-columns:10% 90% ;
    column-gap: 4%;
}
  @media only screen and (max-width: 600px) {
 .containerGrid {
    grid-template-columns:100%;
  
  }
}
.BgColor{
background-color: #F5F5F5;
}