.home {
  background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/08/13/ORB_SummerSale_imgB_1920x1440_20210813.jpg");
  background-size: 100% 45%;
  background-repeat: no-repeat;
  height: 1500px;
  padding: 50px;
}
