.home {
  background-image: url("https://forever.travel-assets.com/flex/flexmanager/images/2021/08/19/ORB_LMLaborDay_imgB_1920x1440_20210813.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 530px;
  position: relative;
}
.bot {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 7;
}
.checkboxes {
  display: flex;
  align-items: center;
  margin: 5px 1px;
  font-size: 14px;
  height: 10px;
  width: 350px;
}
.flight_div {
  margin: 0px;
  padding: 0px;
}
.car_div {
  margin: 0px;
  padding: 0px;
}
.checkboxStyle1 {
  color: #b3c9be;
  transform: scale(1);
}
.checkboxStyle2 {
  color: #c5d4cd;
  transform: scale(1);
}
.BG_style {
  border: 1px solid grey;
  background-color: #f5f5f5;
}
